@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* Base styles */
:root {
  font-size: 62.5%; /* To turn 1rem into 10px */
}

* {
  box-sizing: border-box;
}

body,
#root {
  font-family: montserrat, sans-serif, system-ui, -apple-system, "Segoe UI",
    "Open Sans", "Helvetica Neue";
  font-size: 1.6rem; /* To turn 1rem into 10px */
  min-height: 100vh;
  margin: 0;
  color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bangers", cursive;
  background-color: #2e2e2e;
  padding: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

header > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 3.4rem;
  margin: 0;
}

header p {
  font-size: 1.6rem;
  margin: 0;
}

.header_scoreboard {
  font-family: "Orbitron";
  background-color: #252424; /* Black */
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  height: 6.15rem;
  border: 2px solid #ffd700;
  background: linear-gradient(135deg, #252424, #3a3a3a);
}

.scoreboard_score,
.scoreboard_bestScore {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard_score::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 110%;
  background-color: #ffd700;
}

.scoreboard_score p,
.scoreboard_bestScore p {
  font-size: 0.9em;
  white-space: nowrap;
}

.scoreboard_score span,
.scoreboard_bestScore span {
  font-size: 1.5em;
  color: #ffd700;
}

/* Main content */
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 4rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  user-select: none;
  background-color: #ffffff;
}

.card {
  background-color: #f5f5f5; /* Light Gray */
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  min-height: 250px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.6rem;
  color: #333;
  margin: 1rem 0;
  position: relative;
}

.card p::before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: -10px;
  left: 10%;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2e2e2e; /* Dark Gray */
  padding: 0.8rem 0;
  border-top: 1px solid #e0e0e0;
  margin-top: auto; /* Pushes the footer to the bottom */
}

footer img {
  height: 3rem;
  margin-left: 2rem;
  filter: brightness(0.5);
  cursor: pointer;
}

footer img:hover {
  filter: brightness(1.5);
  transform: scale(1.02);
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Responsive styles */
@media (max-width: 1200px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
