@import url(./normalize.css);

/* Base styles */
:root {
  font-size: 62.5%; /* To turn 1rem into 10px */
}

* {
  box-sizing: border-box;
}

body,
#root {
  font-family: montserrat, sans-serif, system-ui, -apple-system, "Segoe UI",
    "Open Sans", "Helvetica Neue";
  font-size: 1.6rem; /* To turn 1rem into 10px */
  min-height: 100vh;
  margin: 0;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
